<% extend 'layout' %>

<% block 'head' : %>
<script src="/js/bundle.js"></script>
<% end %>

<% block 'content' : %>
<div class="row">
<form class="form-horizontal" action="./" method="post" >
        <fieldset>

            <!-- Form Name -->
            <legend>Form Name</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="control-label" for="name">name</label>
                <div class="controls">
                    <input name="name" type="text" placeholder="Name" class="input-xlarge form-control" required="">
                    <p class="help-block">Name of template</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="name">settings</label>
                <div class="controls">
                    <textarea data-editor="javascript" rows="4" class="form-control" name="settings"></textarea>
                    <p class="help-block">Settings object </p>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="control-label" for="source">Source</label>
                <div class="controls">
                    <textarea data-editor="javascript" rows="4" class="form-control" name="source"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="controls">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Save</button>
                </div>
            </div>

        </fieldset>
    </form>

<script type="text/javascript" charset="utf-8">
    // Hook up ACE editor to all textareas with data-editor attribute
    var ta = $('textarea[data-editor]');

    TATransformer = ace.acequire('ace/ext/textarea');
    var settingsEditor = TATransformer.transformTextarea( ta[0] );
    var templateEditor = TATransformer.transformTextarea( ta[1] );
</script>
</div>
<% end %>




<!-- vim: set ft=html.ect.bootstrap3 : -->
