<% extend 'layout' %>

<% block 'content' : %>
<div class="row">
<form class="form-horizontal" action="./" method="post" name="TemplateForm" >
    <input type="hidden" name="lang"  />
        <fieldset>
            <!-- Form Name -->
            <legend>Form Name</legend>
            <!-- Text input-->
            <div class="form-group">
                <label class="control-label" for="openTag">openTag</label>
                <div class="controls">
                    <input name="openTag" type="text"  class="input-small form-control" required="">
                    <p class="help-block">Open Tag</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="closeTag">closeTag</label>
                <div class="controls">
                    <input name="closeTag" type="text"  class="input-small form-control" required="">
                    <p class="help-block">close Tag</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="name">name</label>
                <div class="controls">
                    <input name="name" type="text" placeholder="Name" class="input-xlarge form-control" required="">
                    <p class="help-block">Name of template</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="name">settings</label>
                <div class="controls">
                    <textarea data-mode="json" data-theme="monokai" rows="4" class="form-control" name="settings"></textarea>
                    <p class="help-block">Settings object </p>
                </div>
            </div>
            <!-- Textarea -->
            <div class="form-group">
                <label class="control-label" for="source">Source</label>
                <div class="controls">
                    <textarea data-theme="monokai" rows="4" class="form-control" name="source"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Save</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<% end %>


<% block 'scripts' : %>
<script src="/js/bundle.js"></script>
<script src="/js/custom-editor.js"></script>

<script type="text/javascript" charset="utf-8">
    var ta = $('textarea');

    var settingsEditor = createAceEditor( ta[0] );
    var templateEditor = createAceEditor( ta[1] );
    var form = $(document.forms.TemplateForm);
    form.submit( function(e){
        form[0].lang.value = templateEditor.getOptions().mode;
    });
</script>

<% end %>



<!-- vim: set ft=html.ect.bootstrap3 : -->
