
<% extend 'layout' %>
<% include 'helpers/templates' %>
<% block 'content' : %>
<div class="row">
    <div class="row col-md-9 btn-group">
        <a class="btn btn-warning glyphicon glyphicon-pencil" href="<%- @templateUrl @template %>/edit">Edit</a>
    </div>
    <div class="row col-md-12">
        <div class="row col-md-4" id="settingsForm">
            <form action="./" method="get" accept-charset="utf-8" role="form">
            <%- @bootstrap3 @template.settings %>
            <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div class="row col-md-8">
            <textarea class="form-control" data-mode="<%- @template.lang %>" data-theme="monokai" name="code" id="taIdCode" rows="25" ></textarea>
        </div>
    </div>
</div>
<script type="text/html" id="template" charset="utf-8"><%- @template.source %></script>


<% end %>

<% block 'scripts' : %>
<script src="/js/bundle.js"></script>
<script src="/js/custom-editor.js"></script>
<script src="/js/jquery.toObject.js"></script>
<script src="/js/form2js.js"></script>

<script type="text/javascript" charset="utf-8">
    var _ = require('underscore'),
    ect = require('ect');
    var templates = templates || {};
    var openTag = '<%- @template.openTag %>';
    var closeTag = '<%- @template.closeTag %>';
    templates.page = $('#template').html();
    var renderer = new ect({root: templates, open: openTag, close: closeTag });

    var TAEdit = $('#taIdCode');
    var editor = createAceEditor( TAEdit[0] );

    settingsForm = $("#settingsForm > form");
    settingsForm.submit( function(e){
        e.preventDefault();
        var data = settingsForm.toObject();
        data = _.defaults( data, require('./js/client-helpers') )
        editor.setValue( renderer.render('page', data ) );
    editor.clearSelection();
    })
</script>

<% end %>


<!-- vim: set ft=html.ect.bootstrap3 : -->
