
<% extend 'layout' %>
<% block 'head' : %>
<script src="/js/bundle.js"></script>
<script src="/js/jquery.toObject.js"></script>
<script src="/js/form2js.js"></script>

<% end %>
<% include 'helpers/templates' %>
<% block 'content' : %>
<div class="row">
    <div class="row col-md-9 btn-group">
        <a class="btn btn-warning glyphicon glyphicon-pencil" href="<%- @templateUrl @template %>/edit">Edit</a>
    </div>
    <div class="row col-md-12">
        <div class="row col-md-4" id="settingsForm">
            <%- @bootstrap3 @template.settings %>
        </div>
        <div class="row col-md-8">
            <div id="editor" style="height:300px;"></div>
        </div>
    </div>
</div>
<script type="text/html" id="template" charset="utf-8"><%- @template.source %></script>

<script type="text/javascript" charset="utf-8">
exports = {};
var ect = require('ect'),
    _ = require('underscore'),
    lingo = require('lingo'),
    vim = ace.acequire('ace/keyboard/vim').handler,
    ace = require('brace');

var templates = templates || {};
templates.page = $('#template').html();


var config = ace.acequire("./config");
var loadSnippetFile = function(id) {
    if (!id || snippetManager.files[id])
        return;
    var snippetFilePath = id.replace("mode", "snippets");
    snippetManager.files[id] = {};
    config.loadModule(snippetFilePath, function(m) {
        if (m) {
            snippetManager.files[id] = m;
            m.snippets = snippetManager.parseSnippetFile(m.snippetText);
            snippetManager.register(m.snippets, m.scope);
            if (m.includeScopes) {
                snippetManager.snippetMap[m.scope].includeScopes = m.includeScopes;
                m.includeScopes.forEach(function(x) {
                    loadSnippetFile("ace/mode/" + x);
                });
            }
        }
    });
};

var onChangeMode = function(e, editor) {
    loadSnippetsForMode(editor.session.$mode);
};

var loadSnippetsForMode = function(mode) {
    var id = mode.$id;
    if (!snippetManager.files)
        snippetManager.files = {};
    loadSnippetFile(id);
    if (mode.modes)
        mode.modes.forEach(loadSnippetsForMode);
};


var textCompleter = ace.acequire("../autocomplete/text_completer");
var keyWordCompleter = {
    getCompletions: function(editor, session, pos, prefix, callback) {
        var state = editor.session.getState(pos.row);
        var completions = session.$mode.getCompletions(state, session, pos, prefix);
        callback(null, completions);
    }
};
var snippetCompleter = {
    getCompletions: function(editor, session, pos, prefix, callback) {
        var snippetMap = snippetManager.snippetMap;
        var completions = [];
        snippetManager.getActiveScopes(editor).forEach(function(scope) {
            var snippets = snippetMap[scope] || [];
            for (var i = snippets.length; i--;) {
                var s = snippets[i];
                var caption = s.name || s.tabTrigger;
                if (!caption)
                    continue;
                completions.push({
                    caption: caption,
                    snippet: s.content,
                    meta: s.tabTrigger && !s.name ? s.tabTrigger + "\u21E5 " : "snippet"
                });
            }
        }, this);
        callback(null, completions);
    }
};var completers = [snippetCompleter, textCompleter, keyWordCompleter];
exports.addCompleter = function(completer) {
    completers.push(completer);
};
var snippetManager = ace.acequire("./snippets").snippetManager;
var expandSnippet = {
name: "expandSnippet",
      exec: function(editor) {
          var success = snippetManager.expandWithTab(editor);
          if (!success)
              editor.execCommand("indent");
      },
bindKey: "tab"
};
var Autocomplete = ace.acequire("./autocomplete").Autocomplete;
var Editor = ace.acequire("./editor").Editor;
ace.acequire("./config").defineOptions(Editor.prototype, "editor", {
    enableBasicAutocompletion: {
        set: function(val) {
            if (val) {
                this.completers = completers;
                this.commands.addCommand(Autocomplete.startCommand);
            } else {
                this.commands.removeCommand(Autocomplete.startCommand);
            }
        },
    value: false
    },
    enableSnippets: {
        set: function(val) {
            if (val) {
                this.commands.addCommand(expandSnippet);
                this.on("changeMode", onChangeMode);
                onChangeMode(null, this);
            } else {
                this.commands.removeCommand(expandSnippet);
                this.off("changeMode", onChangeMode);
            }
        },
        value: false
    }
});
var editor = ace.edit("editor");
editor.setOptions({
    enableBasicAutocompletion: true,
    enableSnippets: true
});
editor.setTheme("ace/theme/monokai");
editor.setKeyboardHandler( vim );
editor.getSession().setMode("ace/mode/javascript");
var renderer = new ect({root: templates });

settingsForm = $("#settingsForm > form");
settingsForm.submit( function(e){
    e.preventDefault();
    var data = settingsForm.toObject();
    data = _.defaults( data, require('./js/client-helpers') )
    editor.setValue( renderer.render('page', data ) );
editor.clearSelection();
})
</script>

<% end %>



<!-- vim: set ft=html.ect.bootstrap3 : -->
