
<% extend 'layout' %>
<% block 'head' : %>
<script src="/js/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/coffee-script.js"></script>
<script src="/js/ect.js"></script>
<script src="/js/lingo.js"></script>
<script src="/js/language.js"></script>
<script src="/js/inflection.js"></script>
<script src="/js/en.js"></script>
<script src="/js/jquery.toObject.js"></script>
<script src="/js/form2js.js"></script>

<% end %>
<% include 'helpers/templates' %>
<% block 'content' : %>
<div class="row">
    <div class="row col-md-9 btn-group">
        <a class="btn btn-warning glyphicon glyphicon-pencil" href="<%- @templateUrl @template %>/edit">Edit</a>
    </div>
    <div class="row col-md-12">
        <div class="row col-md-4" id="settingsForm">
            <%- @bootstrap3 @template.settings %>
        </div>
        <div class="row col-md-8">
            <div id="editor" style="height:300px;"></div>
        </div>
    </div>
</div>
<script type="text/html" id="template" charset="utf-8"><%- @template.source %></script>

<script type="text/javascript" charset="utf-8">
    var templates = templates || {};
    templates.page = $('#template').html();
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
    var renderer = new ECT({root: templates });

    settingsForm = $("#settingsForm > form");
settingsForm.submit( function(e){
        e.preventDefault();
        editor.setValue( renderer.render('page', settingsForm.toObject() ) );
        })
</script>

<% end %>



<!-- vim: set ft=html.ect.bootstrap3 : -->
